*{
    margin: 0;
    padding: 0;
}

#contenedor{
    width: 1200px;
    height: 1000px;
    background: #D8D8D8;
    margin: 0.5em auto;
    padding: 0.5em ;
}

#header{
    height: 14%;
    background: #c76911;
    border-radius: 1em;
    margin: 1em;
    align-content: center;
    font-size: 150%;
    
}

#pcabecera{
    font-size:2em;
    float: left;
    font-style:oblique;
    place-content: inherit;
    text-align: center;
    width: 60%;
    
}
#imh{
    float: right;
    width: 10%;

}

#nav{
    height: 4%;
    background: #424242;
    border-radius: 1em;
    margin: 1em;
}

#contenido{
    height: 52%;
    background: #ffffff;
    margin: 1em;
}

#footer{
   height: 20%;
   background: #424242;
   border-radius: 1em;
   margin: 1em; 
   
}

#seccion{
    height: 95%;
    width: 70%;
    border-radius: 1em;
    background: #A4A4A4;
    margin-right: 0.5em;
    float: left;
}

#aside{
    height: 95%;
    width: 28%;
    background: #A4A4A4;
    border-radius: 1em;
    margin-left: 0.5em;
    float: right;
    font: 1.5em sans-serif;
}

#bode{
background: lawngreen;
width: 40%;
height: 40%;

}

#tituloaside {
    border: red 2px solid;
    font-size: 250%
    
}
